<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style>
.e_msg{
	color: #f00;
}
</style>
</head>
<body>
<h2>로그인폼</h2>
<form action="mlogingo" method="post" th:object="${memmlog}">
<table border="1">
	<tr>
		<td>아이디:</td><td><input type="text" name="pid"></td>
		<td><p class="e_msg"  th:if="${#fields.hasErrors('pid')}" th:errors="*{pid}">에러다</p></td>
	</tr>
	<tr>
		<td>비밀번호:</td><td><input type="text" th:field="*{pw}"></td>
		<td><p class="e_msg"  th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}">에러다</p>
	</tr>
	
	<tr>
		<td colspan="2"><input type="submit" value="제출"></td>
	</tr>

</table>
</form>
</body>
</html>